body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    background: url("../content/background.jpg") repeat center;
}

header {
    background-color: #f5f5f5;
    color: #000000;
    text-align: left;
    padding: 2px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 100;
}

.plus {
    float: left;
    padding-top: 5px;
    margin-left: 5%;
    height: 40px;
    cursor: pointer;
}

.login {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    display: flex;
}

.login a {
    color: #000000;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-size: 24px;
}

.login a:hover {
    color: #ff6900;
}

main {
    width: 100%;
    height: 100%;
    background: url("../content/background.jpg") no-repeat center;
    background-size: cover;
    position: relative;
}

.listecek {
    width: 250px;
    height: 250px;
    position: absolute;
    cursor: grab;
}

.tabulka
{
    background-color: #f5f5f5;
    position:fixed;
    width: 100%;
    height: 70%;
}
